.title{
    text-align: center;
    font-size: 50px;
    margin: 10px 0px;
}

.field{
    
    margin: 0 auto;
}

.submission{
    margin: 50px auto;
    background-color: #BEBEBE;
    padding: 5px;
    width: 45%;
}

.vids{
    text-align: center;
    
}

iframe{
    width: 350px;
    height: 350px;
    margin-bottom: 25px;
}